#graph-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 0.25rem 1.5rem;
  border-radius: 0.3rem;
  font-family: "Poppins";
}

.tooltip-headline {
  font-weight: bold;
}
